border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

colorBackground = #292930
colorLight = #CCA18E
colorHighlight = #168A83
colorWhite = #FFF
colorAccent = #820132
colorDisabled = #BBB

@import "reset"

html, body
  background-color colorBackground
  font-family Helvetica, Arial, sans-serif
  padding 40px 0
h1, h2
  font-family 'Raleway', sans-serif
  text-align center
h1
  color colorWhite
  font-size 60px
h2
  color lighten(colorBackground, 50%)
  font-size 36px
a
  text-decoration none
input[type="text"]
  background-color lighten(colorBackground, 10%)
td
  vertical-align top

#people
  margin-top 40px
#people table
  text-align center
  margin 0 auto
.person
  padding 10px
  text-align center
.person:hover, .person.active
  cursor pointer
.person:hover .circle, .person.active .circle
  border 3px solid colorWhite
.circle
  border-radius 30px
  border 3px solid colorBackground
  width 55px
  height 55px
  background-repeat no-repeat
  display inline-block
  text-align center
  margin 0 auto 10px
.person span
  color darken(colorWhite, 40%)
  display block
.person:hover span, .person.active span
  color colorWhite
.person em
  font-style italic
  font-size 14px
  color darken(colorWhite, 60%)
form
  text-align center
  margin 80px auto 0
#submit
  border none
  border-radius 8px
  background-color colorHighlight
  font-family 'Raleway', sans-serif
  color colorWhite
  font-size 24px
  padding 10px 30px
  cursor pointer
#submit[disabled="disabled"]
  background-color colorDisabled
  color darken(colorDisabled, 30%)