colorBackground = #292930
colorLight = #CCA18E
colorHighlight = #168A83
colorWhite = #FFF
colorAccent = #820132

@import "reset"

html, body
  background-color colorBackground
h1, h2
  font-family: 'Raleway', sans-serif;
h1
  color colorWhite
  font-size 60px
h2
  color lighten(colorBackground, 50%)
  font-size 36px
input[type="text"]
  background-color lighten(colorBackground, 10%)