!!!
html(lang="en")
  head
    title QA Checklist - 2nd Developer
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    link(href="css/styles.css", rel="stylesheet", type="text/css")
  body
    h1 QA Checklist - Project Manager
    hr

    ul
      li
        input(type="checkbox")
        label Check for broken links
      li
        input(type="checkbox")
        label Check all pages in website for any noticeable errors
      li
        input(type="checkbox")
        label Check website on mobile phone
      li
        input(type="checkbox")
        label Check website on iPad (if one is available)
      li
        input(type="checkbox")
        label Is there a clear visual hierarchy?
      li
        input(type="checkbox")
        label Is the site’s navigation easy to understand?
      li
        input(type="checkbox")
        label Is the site’s navigation consistent?
      li
        input(type="checkbox")
        label Does the site use consistent and appropriate language?
      li
        input(type="checkbox")
        label Check for mispelling, grammar and content errors
      li
        input(type="checkbox")
        label Does the site have a sitemap page and contact page? Are they easy to find?
      li
        input(type="checkbox")
        label Is there a link to the home page on every page in the site?
      li
        input(type="checkbox")
        label Check all bespoke/complex functionality 
      li
        input(type="checkbox")
        label Check search functionality (including relevance of results)
      li
        input(type="checkbox")
        label Does the site work well when printed?
      li
        input(type="checkbox")
        label Ensure no test content on site
      li
        input(type="checkbox")
        label Check all requirements and that all requirements are met