!!!
html(lang="en")
  head
    title QA Checklist - 2nd Developer
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    link(href="css/styles.css", rel="stylesheet", type="text/css")
  body
    h1 QA Checklist - 2nd Developer
    hr

    h2 Best practices
    ul
      li
        input(type="checkbox")
        label Check for broken links
      li
        input(type="checkbox")
        label Check website in Chrome (PC and Mac)
      li
        input(type="checkbox")
        label Check website in Firefox (PC and Mac)
      li
        input(type="checkbox")
        label Check website in Safari (PC and Mac)
      li
        input(type="checkbox")
        label Check website in IE 7-10 (PC)
      li
        input(type="checkbox")
        label Check website in iPhone &amp; Android Phone
      li
        input(type="checkbox")
        label Check website in iPad
      li
        input(type="checkbox")
        label Does the site have a meaningful and helpful 404 error page that works from any depth in the site?
      li
        input(type="checkbox")
        label Does the site use friendly URLs?
      li
        input(type="checkbox")
        label Does the site have a favicon?
      li
        input(type="checkbox")
        label Is the project up to date on its documentation on the wiki?
      li
        input(type="checkbox")
        label Are all passwords logged in LastPass?
      li
        input(type="checkbox")
        label Is master branch the production branch?
      li
        input(type="checkbox")
        label Is the project in Git properly?
      li
        input(type="checkbox")
        label Is there an up-to-date executable SQL file?

    h2 Analytics
    ul
      li
        input(type="checkbox")
        label Is uptime monitoring setup?
      li
        input(type="checkbox")
        label Are analytics setup? (GA, Inspectlet, other tracking tools + special click tracking)

    h2 Performance
    ul
      li
        input(type="checkbox")
        label Check Google Page Speed score of 90+
      li
        input(type="checkbox")
        label Check Yahoo YSlow score of 85+ 
      li
        input(type="checkbox")
        label Are JS/HTML/CSS minified &amp; compressed?
      li
        input(type="checkbox")
        label Check correct database indexing

    h2 Usability
    ul
      li
        input(type="checkbox")
        label HTML5 compatibility check
      li
        input(type="checkbox")
        label Is there a clear visual hierarchy?
      li
        input(type="checkbox")
        label Are heading levels easy to distinguish?
      li
        input(type="checkbox")
        label Is the site’s navigation easy to understand?
      li
        input(type="checkbox")
        label Is the site’s navigation consistent?
      li
        input(type="checkbox")
        label Does the site use consistent and appropriate language?
      li
        input(type="checkbox")
        label Does the site have a sitemap page and contact page? Are they easy to find?
      li
        input(type="checkbox")
        label Is there a link to the home page on every page in the site?
      li
        input(type="checkbox")
        label Are links underlined?
      li
        input(type="checkbox")
        label Are visited links clearly defined?
      li
        input(type="checkbox")
        label Are all forms validated with JavaScript and back-end technology?
      li
        input(type="checkbox")
        label Are all form validation errors easily understood and informative?

    h2 Semantics
    ul
      li
        input(type="checkbox")
        label Check the semantics

    h2 SEO
    ul
      li
        input(type="checkbox")
        label SenSEO score of 85+
      li
        input(type="checkbox")
        label robots.txt
      li
        input(type="checkbox")
        label XML sitemap 
      li
        input(type="checkbox")
        label Create metadata descriptions for important pages.  
      li
        input(type="checkbox")
        label Ensure content is marked-up semantically/correctly (h1, etc.)
      li
        input(type="checkbox")
        label Check configuration of Google Webmaster Console and Yahoo! Site Explorer 

    h2 Code quality
    ul
      li
        input(type="checkbox")
        label HTML validation
      li
        input(type="checkbox")
        label CSS validation
      li
        input(type="checkbox")
        label Run CSS Lint
      li
        input(type="checkbox")
        label Run JSLint/JSHint
      li
        input(type="checkbox")
        label Accessibility
      li
        input(type="checkbox")
        label Does the site use a correct Doctype?
      li
        input(type="checkbox")
        label Does the site use a Character set?
      li
        input(type="checkbox")
        label Does the site use any CSS hacks?
      li
        input(type="checkbox")
        label Does the site use unnecessary classes or ids?
      li
        input(type="checkbox")
        label Is the code well structured?
      li
        input(type="checkbox")
        label Does the site have JavaScript errors?
      li
        input(type="checkbox")
        label Degree of separation between content and presentation
      li
        input(type="checkbox")
        label Does the site use CSS for all presentation aspects (fonts, colour, padding, borders etc)?
      li
        input(type="checkbox")
        label Are all decorative images in the CSS, or do they appear in the (X)HTML?
      li
        input(type="checkbox")
        label Are sprites being used?
      li
        input(type="checkbox")
        label Is the code well documented?

    h2 World ready
    ul
      li
        input(type="checkbox")
        label Check all bespoke/complex functionality 
      li
        input(type="checkbox")
        label Check search functionality (including relevance of results)
      li
        input(type="checkbox")
        label Test all forms (e.g. contact us, blog comments), including anti-spam features, response emails/text, etc.
      li
        input(type="checkbox")
        label Check all external links are valid   
      li
        input(type="checkbox")
        label Are 301 redirects in place?

    h2 Accessibility
    ul
      li
        input(type="checkbox")
        label Accessibility validation
      li
        input(type="checkbox")
        label WAI-ARIA LandmarksAre “alt” attributes used for all descriptive images?
      li
        input(type="checkbox")
        label Do any aspects of the layout break if font size is increased? (remember, users can control and override the CSS)
      li
        input(type="checkbox")
        label Does the site use accessible forms?
      li
        input(type="checkbox")
        label Is there delayed responsiveness for dropdown menus (for users with reduced motor skills)?
      li
        input(type="checkbox")
        label Is the content accessible with CSS switched off or not supported?
      li
        input(type="checkbox")
        label Is the content accessible with images switched off or not supported?
      li
        input(type="checkbox")
        label Does the site work well when printed?

    h2 Security
    ul
      li
        input(type="checkbox")
        label Follow best practices (e.g. salting and hasing passwords)
      li
        input(type="checkbox")
        label Cross-site scripting
      li
        input(type="checkbox")
        label Cross-site request forgery  
      li
        input(type="checkbox")
        label Protect any sensitive pages (e.g. administration area)    
      li
        input(type="checkbox")
        label Is ACL properly configured? 
      li
        input(type="checkbox")
        label Set-up email/SMS monitoring/alerts (e.g. for errors, server warnings); consider internal and external monitoring services 
      li
        input(type="checkbox")
        label Transaction logging if necessary
      li
        input(type="checkbox")
        label Is spam prevention in place (e.g. honeypot)
      li
        input(type="checkbox")
        label Are all software (e.g. WordPress, CakePHP) and libraries (e.g. jQuery) up to date?

    h2 Content, Consistency &amp; Style
    ul
      li
        input(type="checkbox")
        label Ensure no test content on site  
      li
        input(type="checkbox")
        label Check all ‘Hidden Copy’ (e.g. alt text, transcriptions, text in JavaScript functions) 

    h2 Misc
    ul
      li
        input(type="checkbox")
        label Check all requirements and that all requirements are met