!!!
html(lang="en")
  head
    title QA Checklist
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
  body
    h1 QA Checklist
    hr

    h2 Best practices
    ul
      li Fix broken links
      li Spelling and grammar
      li Check website in all browsers
      li Remove 'www' subdomain
      li Does the site have a meaningful and helpful 404 error page that works from any depth in the site?
      li Does the site use friendly URLs?
      li Does the site have a favicon?

    h2 Mobile
    ul
      li MobileOK score of 75+
      li Use 'viewport' meta-tag
      li Use correct input types
      li Manual check using emulators

    h2 Analytics
    ul
      li Uptime monitoring
      li Traffic analysis (GA, other tracking tools + special click tracking)

    h2 Performance
    ul
      li Google Page Speed score of 90+
      li Yahoo YSlow score of 85+
      li Optimize HTTP headers
      li Optimize images
      li Check image optimisation    
      li Check and implement caching where necessary 
      li Check total page size/download time 
      li Minify/compress static (JavaScript/HTML/CSS) files  
      li Optimise your CSS: use short image paths; make full-use ‘cascading’ nature of CSS, etc. 
      li Check correct database indexing 
      li Check configuration at every level (Web server, Database, any other software e.g. Content Management System)    
      li Configure server-based logging/measurement tools (e.g. database/web server logging) 

    h2 Usability
    ul
      li HTML5 compatibility check
      li Custom 404 page
      li Favicon
      li Use friendly URLs
      li Add search feature
      li Environment Integration
      li Is there a clear visual hierarchy?
      li Are heading levels easy to distinguish?
      li Is the site’s navigation easy to understand?
      li Is the site’s navigation consistent?
      li Does the site use consistent and appropriate language?
      li Does the site have a sitemap page and contact page? Are they easy to find?
      li For large sites, is there a search tool?
      li Is there a link to the home page on every page in the site?
      li Are links underlined?
      li Are visited links clearly defined?

    h2 Semantics
    ul
      li Add meaning with Microdata
      li Check the semantics

    h2 SEO
    ul
      li SenSEO score of 85+
      li Google Rich Snippets
      li robots.txt
      li XML sitemap
      li Page Titles are important; ensure they make sense and have relevant keywords in them.   
      li Create metadata descriptions for important pages.   
      li Check for canonical domain issues (e.g. variations in links to http://site.com http://www.site.com http://www.site.com/index.html should be reduced to a single consistent style)   
      li Ensure content is marked-up semantically/correctly (<h1>, etc.) 
      li Check for target keyword usage in general content   
      li Check format (user/search engine friendliness) of URLs  
      li Set up Analytics, FeedBurner, and any other packages for measuring ongoing success  
      li Create an XML Sitemap   
      li Configure Google Webmaster Console and Yahoo! Site Explorer 

    h2 Code quality
    ul
      li HTML validation
      li CSS validation
      li Run CSS Lint
      li Run JSLint/JSHint
      li Accessibility
      li Does the site use a correct Doctype?
      li Does the site use a Character set?
      li Does the site use Valid (X)HTML?
      li Does the site use Valid CSS?
      li Does the site use any CSS hacks?
      li Does the site use unnecessary classes or ids?
      li Is the code well structured?
      li Does the site have any broken links?
      li How does the site perform in terms of speed/page size?
      li Does the site have JavaScript errors?
      li Degree of separation between content and presentation
      li Does the site use CSS for all presentation aspects (fonts, colour, padding, borders etc)?
      li Are all decorative images in the CSS, or do they appear in the (X)HTML?

    h2 World ready
    ul
      li Check all bespoke/complex functionality 
      li Check search functionality (including relevance of results) 
      li Check on common variations of browser (Internet Explorer, Firefox, Safari, Chrome etc.), version (6, 7, 2.2, 3.1 etc.) and platform (Windows, OSX, Linux)   
      li Check on common variations of Screen Resolution 
      li Test all forms (e.g. contact us, blog comments), including anti-spam features, response emails/text, etc.   
      li Test without JavaScript, Flash, and other plug-ins  
      li Check all external links are valid  

    h2 Accessibility
    ul
      li Accessibility validation
      li Color contrast
      li WAI-ARIA LandmarksAre “alt” attributes used for all descriptive images?
      li Does the site use relative units rather than absolute units for text size?
      li Do any aspects of the layout break if font size is increased?
      li Does the site use visible skip menus?
      li Does the site use accessible forms?
      li Does the site use accessible tables?
      li Is there sufficient colour brightness/contrasts?
      li Is colour alone used for critical information?
      li Is there delayed responsiveness for dropdown menus (for users with reduced motor skills)?
      li Are all links descriptive (for blind users)?
      li Does the site work acceptably across modern and older browsers?
      li Is the content accessible with CSS switched off or not supported?
      li Is the content accessible with images switched off or not supported?
      li Does the site work in text browsers such as Lynx?
      li Does the site work well when printed?
      li Does the site work well in Hand Held devices?
      li Does the site include detailed metadata?
      li Does the site work well in a range of browser window sizes?

    h2 Security
    ul
      li Follow best practices
      li Cross-site scripting
      li Cross-site request forgery
      li Secure connection (SSL)
      li HTTP Strict Transport Security
      li Configure backup schedule, and test recovery from backup.   
      li Protect any sensitive pages (e.g. administration area)  
      li Use robots.txt where necessary  
      li Security/Penetration test   
      li Turn-off verbose error reporting    
      li Check disk space/capacity   
      li Set-up email/SMS monitoring/alerts (e.g. for errors, server warnings); consider internal and external monitoring services 
      li Error reporting notifications (email and text)
      li Transaction logging if necessary

    h2 Social Media
    ul
      li Open Graph protocol
      li Twitter Cards
      li Facebook Insights
      li Social Marketing: Twitter, LinkedIn, Digg, Facebook, Stumbleupon, etc.  
      li Submit to search engines    
      li Set-up PPC/Google Adwords where necessary   
      li Check formatting of site results in SERPs 

    h2 Content &amp; Style
    ul
      li Check for incorrect punctuation marks, particularly apostrophes, quotation marks and hyphens/dashes 
      li Check headings for where you could potentially use ligatures    
      li Check for widow/orphan terms in important paragraphs    
      li Capitalisation (especially of main headings)    
      li Recurring/common phrases (e.g. ‘More about X’ links)    
      li Variations in words (e.g. Websites vs Web Sites, or UK vs US spelling)  
      li Treatment of bulleted lists (e.g. periods or commas at end of each item)    
      li Check for hard-coded links to staging domain (i.e. ensure all links will change to ‘live’ URL/domain when site is launched) 
      li Ensure no test content on site  
      li Check how important pages (e.g. content items) print    
      li For re-designs, ensure important old/existing URLs are redirected to relevant new URLs, if the URL scheme is changing   
      li Check all ‘Hidden Copy’ (e.g. alt text, transcriptions, text in JavaScript functions) 

    h2 Misc
    ul
      li Add humans.txt